{% extends 'base.html' %}
{% block title %}
    Rezerwacja kortu
{% endblock %}
{% block content %}
    <h1>Rezerwacja kortu na godzinę {{ time | time:"H:i" }} w dniu {{ date | date:"d E (l)" }}</h1>
    <p>Wybierz kort: </p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Zarezerwuj - {{ price.price }} zł">
    </form>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
    $(document).ready(function() {
        let discount = $('#id_discount');
        let submit = $("input[type='submit']")

        discount.on('change', function() {
            $.ajax({
                url: "{% url 'reserve_court' date.year date.month date.day time.hour %}",
                data: $(this).serialize(),
                success: function (data) {
                    submit.val(`Zarezerwuj - ${data["total_price"]} zł`)
                },
            })
        })
    })
    </script>
{% endblock %}