{% extends 'base.html' %}

{% block title %}
Harmonogram
{% endblock %}

{% block content %}
    <table>
    <thead>
        <tr>
        <th></th>
        {% for date in dates %}
            <th>
                {{ date | date:"d E Y" }} <br/>
                {{ date | date:"l" }}
            </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
        {% for price in prices %}
            <tr>
                <td>{{ price.get_time_display | time:"H:i" }}</td>
                {% for date in dates %}
                    <td>
                    <button>
                        <a href="{% url 'reserve_court' date.year date.month date.day price.get_time_display.hour %}">
                            Rezerwuj <br>
                            {% if date|date:"l" == "Sobota" or date|date:"l" == "Niedziela" %}
                                {{ weekend_price.price }} zł
                            {% else %}
                                {{ price.price }} zł
                            {% endif %}
                        </a>
                    </button>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>

{% endblock %}