{% load static %}
<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}Squash-club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<div id="header">
    <div class="menu">
        <a href="">Strona główna</a>
        <a href="{% url 'schedule' %}">Rezerwacja</a>
        {% if user.is_authenticated %}
            <span>Witaj {{ user.first_name }}!</span>
            <a href="{% url 'user_profile' %}">Profil</a>
            <a href="{% url 'logout' %}">Wyloguj</a>
            {% else %}
            <a href="{% url 'login' %}">Zaloguj</a>
            <a href="{% url 'registration' %}">Załóż konto</a>
        {% endif %} 
    </div>
</div>

<div id="content">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>